extends layout

block content
  .row
    .col-lg-3.col-md-3.col-sm-4
      .collector.well.well-lg
        .instruction
          span Use Mouse Wheel Here
        .yourresults
          dl
            dt Min <small>(norm, raw)</small>:
            dd.yourresults-min
          dl
            dt Max <small>(norm, raw)</small>:
            dd.yourresults-max
          dl
            dt Resolution:
            dd.yourresults-res
        .submit
          button(type="button", class="btn btn-default btn-xs", disabled="disabled") Submit Results
        .useragent("data-ua"=agent.toJSON())= agent.toString()
    .col-lg-9.col-md-9.col-sm-8
      table.results.table-condensed.table-striped.table-responsive.table-bordered
        thead
          tr
            th OS
            th Browser
            th Min <small>(Norm, Raw)</small>
            th Max <small>(Norm, Raw)</small>
            th Resolution
        tfoot
        tbody
          tr
            td(colspan="5") Loading Results...
